OmniChannel_Financial_Pipeline.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_7"
          ],
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "70e518c4-0aaa-4212-844c-2bc4e1430f4f",
      "name": "Gmail Trigger1",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        4112,
        2880
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "T7je0tcesPyZM7hM",
          "name": "penguin861225@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ezbookkeeping-app:8080/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"jsonrpc\":\"2.0\",\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2024-11-05\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n\",\"version\":\"1.0.0\"}},\"id\":1}",
        "options": {}
      },
      "id": "b6e43b90-4766-4a7b-9796-44719a4a5db5",
      "name": "MCP Initialize1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6224,
        3248
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "WeCGwO4XDVjbYzkR",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ezbookkeeping-app:8080/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  JSON.stringify({\n    jsonrpc: '2.0',\n    method: 'tools/call',\n    params: {\n      name: 'add_transaction',\n      arguments: {\n        type: 'expense',\n        time: JSON.parse($('AI Agent2').item.json.output).time,\n        amount: JSON.parse($('AI Agent2').item.json.output).amount,\n        category_name: JSON.parse($('AI Agent2').item.json.output).category_name,\n        account_name: JSON.parse($('AI Agent2').item.json.output).account_name,\n        comment: JSON.parse($('AI Agent2').item.json.output).comment\n      }\n    },\n    id: 2\n  })\n}}",
        "options": {}
      },
      "id": "2c937c04-7348-4540-b06a-b9f36ddaac40",
      "name": "MCP: 新增支出記錄1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6464,
        3248
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "WeCGwO4XDVjbYzkR",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "your-telegram-chat-id",
        "text": "=🎉 自動記帳成功！\n\n💰 消費金額：{{ JSON.parse($('AI Agent2').item.json.output).amount }}\n🛍️ 商家：{{ JSON.parse($('AI Agent2').item.json.output).comment }}\n📂 分類：{{ JSON.parse($('AI Agent2').item.json.output).category_name }}\n💳 帳戶：{{ JSON.parse($('AI Agent2').item.json.output).account_name }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6736,
        3248
      ],
      "id": "df17c74b-b84b-4c2d-bc2e-a2832e366a0c",
      "name": "Send a text message1",
      "webhookId": "3b5b5c25-f77a-4ced-8353-486a1c7b63e8",
      "credentials": {
        "telegramApi": {
          "id": "tyYbMndtzQrkJwmZ",
          "name": "Wojak bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 取得 AI 產生的 JSON\nlet aiData = JSON.parse($('AI Agent2').item.json.output);\n\n// 定義允許的白名單\nconst validCategories = [\"Housing\", \"Phone Bill\", \"Food & Grocery\", \"Transportation\", \"Medical & Healthcare\", \"Coffee Drink & Dessert\", \"聚餐娛樂\", \"Workout\", \"Travel\", \"Gifts\", \"Clothing\", \"Other\"];\nconst validAccounts = [\"Chase 銀行\", \"Apple credit card\", \"BoA credit card\", \"Chase Unlimited Freedom\", \"CITI Thank You credit card\"];\n\n// 檢查並強制校正分類 (如果不在清單內，就變成 Other)\nif (!validCategories.includes(aiData.category_name)) {\n  aiData.category_name = \"Other\";\n}\n\n// 檢查並強制校正帳戶 (如果不在清單內，就變成 Chase 銀行)\nif (!validAccounts.includes(aiData.account_name)) {\n  aiData.account_name = \"Chase 銀行\";\n}\n\n// 將乾淨的資料往下傳遞\nreturn [{ json: aiData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        3248
      ],
      "id": "19ae06bb-2111-46c9-b2a8-fafb17d9e69e",
      "name": "Check the output1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "your-webhook-path-uuid-here",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4640,
        3248
      ],
      "id": "5ec75899-c3fa-4803-ac47-771709d4788d",
      "name": "Webhook1",
      "webhookId": "110045dd-9719-4221-9941-90867224b5a6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-ca",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-ca"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5520,
        3536
      ],
      "id": "74363e77-1e09-459e-b1fc-3ddbb4fa216f",
      "name": "ChatAnyWhere Model1",
      "credentials": {
        "openAiApi": {
          "id": "cJHEbYeXQYXGUF41",
          "name": "ChatAnyWhere"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "your-telegram-user-id"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        4656,
        3584
      ],
      "id": "f701ed09-b067-478e-bb51-59b6c94c2589",
      "name": "Telegram Trigger1",
      "webhookId": "61ececf7-dc42-4097-8d62-9e19e923614d",
      "credentials": {
        "telegramApi": {
          "id": "tyYbMndtzQrkJwmZ",
          "name": "Wojak bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 獲取基礎資訊\nconst subject = $json.subject || \"\";\nconst from = $json.from?.value?.[0]?.address || $json.from || \"\";\n\n\n// 2. 選擇內容來源 (優先使用 html，因為它資訊最全)\nlet htmlContent = $json.html || \"\";\nlet textContent = $json.text || \"\";\n\n// 3. 處理 HTML：先將常見的「換行標籤」換成真正的換行，防止文字黏在一起\nlet processedHtml = htmlContent\n  .replace(/<style[^>]*>.*<\\/style>/gms, '') // 拔掉 CSS\n  .replace(/<br\\s*\\/?>/gi, '\\n')              // <br> 換行\n  .replace(/<\\/p>/gi, '\\n')                  // </p> 換行\n  .replace(/<\\/tr>/gi, '\\n')                 // 表格行結束換行\n  .replace(/<\\/div>/gi, '\\n')                // </div> 換行\n  .replace(/<[^>]*>?/gm, ' ')                // 拔掉剩下所有 HTML 標籤\n  .replace(/&nbsp;/g, ' ')                   // 處理空格轉義\n  .replace(/&amp;/g, '&')                    // 處理 & 符號\n  .replace(/&zwnj;/g, '') \n   // 🔥 在這裡新增：移除隱形字元\n  .replace(/\\n\\s*\\n/g, '\\n')                 // 移除連續空行\n  .trim();\n\n// 4. 聰明判斷：如果 HTML 清理出來沒東西，就用純文字版\nlet finalBody = processedHtml.length > 10 ? processedHtml : textContent;\n\n// 5. 組合最終包\nreturn {\n  emailContent: `\n【郵件來源】: ${from}\n【郵件主旨】: ${subject}\n【清理後的內文】:\n${finalBody.substring(0, 2000)}\n  `.trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        2880
      ],
      "id": "27b19372-744d-41d7-b12a-5e71d1398530",
      "name": "cleaning format1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9e7fdb7-4d03-42c7-878a-53b494d20e32",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "no.reply.alerts@chase.com|alerts@info6.citi.com|onlinebanking@ealerts.bankofamerica.com",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        4416,
        2880
      ],
      "id": "9abb12ec-be1b-4426-858a-66385b8c8aa7",
      "name": "Filter1"
    },
    {
      "parameters": {
        "content": "### Prepare AI Prompt\nPrompt Engineering: Injects strict category dictionaries and account schemas to prevent LLM hallucinations.",
        "height": 324,
        "width": 412,
        "color": 6
      },
      "id": "9c763ee3-4487-4ffc-ab36-790856f15e03",
      "name": "Sticky_準備 AI Prompt2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4928,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### MCP Initialize\nInitializes Model Context Protocol (MCP) session with self-hosted ezbookkeeping Docker instance.",
        "height": 308,
        "width": 220,
        "color": 6
      },
      "id": "0d40aaff-5e01-4e9b-b740-6475c5dd4145",
      "name": "Sticky_MCP Initialize1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### MCP: add new transcation to EZbookkeeping\nPOSTs the validated financial data to GCP PostgreSQL via ezbookkeeping REST API.",
        "height": 308,
        "width": 220,
        "color": 6
      },
      "id": "ea9a68f4-c151-4dba-abde-521cad39e395",
      "name": "Sticky_MCP: 新增支出記錄1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6400,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### AI Agent\nSemantic Parser: LangChain agent extracting key entities (amount, category, account) strictly as JSON.",
        "height": 324,
        "width": 348,
        "color": 6
      },
      "id": "e55ba3e1-c721-429d-9619-55197c9c138c",
      "name": "Sticky_AI Agent2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5424,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### Send a text message\nFeedback Loop: Sends a real-time Telegram summary of the categorized transaction to the user.",
        "height": 308,
        "width": 284,
        "color": 6
      },
      "id": "a785beed-debc-4079-9b50-4e372b4e1c0d",
      "name": "Sticky_Send a text message1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6640,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### Check the output\nFault Tolerance: Validates parsed JSON against a whitelist. Reverts ambiguous items to 'Other' to prevent database corruption.",
        "height": 308,
        "width": 332,
        "color": 6
      },
      "id": "436a45f7-d1d1-443b-a25a-e4d7d5ac3f76",
      "name": "Sticky_Check the output1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5808,
        3088
      ]
    },
    {
      "parameters": {
        "content": "### Webhook\nOmni-channel Entry 1: Webhook endpoint for Apple Pay NFC triggers via iOS Shortcuts & Receipt OCR payloads.",
        "height": 324,
        "width": 252,
        "color": 6
      },
      "id": "47bf397a-0ad4-43bf-b033-7b64d04ffb0b",
      "name": "Sticky_Webhook1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        3088
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nLLM Engine: GPT-4o-mini configured to force JSON Object response.",
        "height": 276,
        "width": 188,
        "color": 4
      },
      "id": "b4fc5f17-026b-469b-a354-ac5d86b749c4",
      "name": "Sticky_ChatAnyWhere Model1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5472,
        3488
      ]
    },
    {
      "parameters": {
        "content": "### Telegram Trigger\nOmni-channel Entry 2: Captures manual text/voice entries via Telegram Bot.",
        "height": 308,
        "width": 252,
        "color": 6
      },
      "id": "1759b09c-2f7e-445c-849d-37b56f220a51",
      "name": "Sticky_Telegram Trigger1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        3424
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Content }}\n\n交易時間“必須”根據以下:\n{{ $json.transaction_date }}\n",
        "options": {
          "systemMessage": "=You are a helpful assistant {{ $json.systemPrompt }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5520,
        3248
      ],
      "id": "665e1499-1b3a-43c0-9839-bc8114d928b5",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40001",
              "name": "systemPrompt",
              "value": "=你是一個專業的財務記帳助理。\n請從輸入的收據內容中，擷取關鍵交易資訊，並「只」以純 JSON 格式回傳，不可包含任何其他文字、markdown 或 code block。\n\n【絕對規則 1：分類名稱】\n你只能從以下清單中「一字不差」地挑選一個 category_name：\n[Housing, Phone Bill, Food & Grocery, Transportation, \nMedical & Healthcare, Coffee Drink & Dessert, Hangout, Workout, Travel, Gifts, Clothing, Subscribe, Other]\n\nFood & Grocery 一般是指:   Walmart, Target, Costco, Sam's Club, BJ's Wholesale Club, Aldi, Trader Joe's, Whole Foods Market, Kroger, Sprouts Farmers Market, Safeway\nMedical & Healthcare  一般是指:   CVS Pharmacy, Walgreens\n\n⚠️ 若信件內容無法明確歸類，請一律強制填寫 \"Other\"，絕不可自行發明分類！\n\n【絕對規則 2：帳戶名稱】\n你只能從以下清單中「一字不差」地挑選一個 account_name：\n[Chase 銀行, Chase Unlimited Freedom, Customized Cash Reward, CITI StrataSM, Apple credit card]\n\n⚠️ 優先從信件的付款資訊 (如卡號末四碼、支付方式或 email) 推測。若完全無法辨識，請一律強制預設為 \"Chase 銀行\"，絕不可自行翻譯或捏造!\n\n【輸出 JSON 格式範例】\n{ \"time\": \"{{ $now.toISO() }}\", \"amount\": \"14.50\", \"category_name\": \"Food & Grocery\", \"account_name\": \"Chase 銀行\", \"comment\": \"UberEats 晚餐\" } \n",
              "type": "string"
            },
            {
              "id": "4e8b941c-be84-45d5-9480-03235cabe2fd",
              "name": "=Content",
              "value": "={{ $json.message?.text || $json.body || $json.emailContent }}",
              "type": "string"
            },
            {
              "id": "293afc00-d506-46ed-ab24-42b84b2267fc",
              "name": "transaction_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e7560107-aaa1-4f23-864f-88ec146c5d55",
      "name": "pre- AI Prompt1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        3248
      ]
    }
  ],
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Initialize1": {
      "main": [
        [
          {
            "node": "MCP: 新增支出記錄1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: 新增支出記錄1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the output1": {
      "main": [
        [
          {
            "node": "MCP Initialize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "pre- AI Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatAnyWhere Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "pre- AI Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleaning format1": {
      "main": [
        [
          {
            "node": "pre- AI Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "cleaning format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Check the output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pre- AI Prompt1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a76ca29ada25778045d943b92ea548e08e0e5121a330411faed9500d3c93bcc"
  }
}
